<div class="container">
  <form [formGroup]="formulario" (ngSubmit)="guardar()">

    <div class="column-left">
      <button mat-raised-button class="btn" type="button" (click)="agregar()">Adicionar</button>
    </div>

    <div class="column-center">
      <div formArrayName="cajaP" *ngFor="let s of contenidoP.controls; let i = index ">
        <mat-form-field class="this-with" appearance="fill">
          
            <input 
            matInput
            #message
            maxlength="256"
            [formControlName]="i"
            required>
          </mat-form-field>
      </div>

      <mat-form-field class="this-with" appearance="fill">
        <textarea matInput  cols="30" 
        rows="7"> {{ contenido2 }} </textarea>
      </mat-form-field>
      
    </div>

    <div class="column-der">

      <div class="der">
        <button mat-raised-button class="btn" type="reset">Limpiar caja</button>
        <button mat-raised-button class="btn" (click)="borrarCaja(this.contenidoP.value.i)" type="button">Eliminar</button>

        <br>
        
        <button mat-raised-button class="btn" type="button" (click)="cajalimpia()">Limpiar Caja</button>
      </div>

      <div class="left">
        <button mat-raised-button class="btn" (click)="guardar()" [disabled]="formulario.invalid">Guardar</button>
        <button mat-raised-button class="btn" type="reset" (click)="limpiar()">Limpiar</button>
      </div>
      
    </div>
  </form>
</div>