*{
  margin: 5px;
}

.container{
  margin: 200px;
  margin-left: 23%;
}



.column-left, .column-center, .column-der{
  float: left;
}

.der{
  float: left;
}

.left {
  display: flex;
  flex-direction: column;
}

.column-center{
  display: flex;
  flex-direction: column;
}

button{
  margin: 5px;
}

.btn{
  background-color: black;
  color: red;
  justify-content: space-between;
}
.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.this-with {
  width: 100%;
}